.product-description{
    background-color: #ddd;
    box-shadow: 5px 5px 15px #cccccc;
    border-radius: 2%;
    border: 2px  #ffffff;
    align-items: center;
}
.product-description form {
    width: auto;
    margin: 5px ;
    padding-top: 15px;
  }
.product-description .value-button{
   
    border-radius: 2px;
}
 label{
     font: bolder;
 }
.product-description img{
    height: 150px;
    width: fit-content;
}
@media (min-width: 768px){
.col-sm-3 {
    text-align: center;
    margin: 15px;
    }
}
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }

  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }

  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }

  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }

  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }