
html{
    overflow: scroll;
}
@-ms-viewport{
    width: device-width;
}
body{
    font-family: 'Lato','Segoe UI', Tahoma, Geneva, Verdana;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    position:static;
    justify-content: center;
}
header#main-header img{
    padding: 10px;
    block-size: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-header{
    margin-top: 5%;
    left:80px;
    width: 90%;
    height: 150px;
    display: flex;
    position: relative;
    align-self: center;
    text-align: center;
    color: slategrey;
    text-transform: capitalize;
    box-sizing: border-box;
}
header#main-header h1{
    padding: 5% 1%
}
/* @media son jquery code para controlar el responsiveness 
    (como los componentes del web page cambian
    cuando se cambia el viewport/device width,
    ej. como se vera en un telefono, como se vera en un ipad o laptop) */

@media screen and (max-width: 500px) {
    #main-header {
      text-align: left;
      width: 350px;
    }
    header#main-header img{
        display: block;
        margin-top: 15px;
        inline-size: 65px;
        block-size: 65px;
    }
    header#main-header h1{
        padding: 15px 0;
        width: 100px;
        font-size:inherit;
    }
    
}
.wtop{
    width: 100%;
    box-sizing: content-box;
}

.wtop a{
    padding-left: 10px;
    color: #ccc;
}
.wtop a:hover {
    padding-left: 10px;
    text-decoration-line: none;
    color: #ccc;
}
.wtop .wbar a img{
    height: 30px;
}
/* Left-sided navbar link to home */
.wbar .w-button {
    position: fixed;
    left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 99;
}
/* Right-sided navbar with about, contact, pricing, etc. tabs */
.wbar .w-right{
    display: inline-block;
    right: 0px;
    height: 10%;
    white-space: normal;
    padding: 15px 5px;
    width: 100%;
    z-index: 98;
    text-align: right;
    position: fixed;
    background-color: #333;
}

@media screen and (max-width: 300px) {

    .wbar a.w-wide{
        background-color: #ffffff;
        float: right;
        display: flex;
        z-index: 99;
    }
}
/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 128px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens (less than 450px) change the style of the sidebar */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
.sidenav button.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
.active, .accordion:hover {
    cursor: pointer;
  }
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
/* Footer contents
    row - container of footer columns 
    col-footer .s1 - foooter columns
    e  - last column  */
.row{
    padding: 5% 0;
}
.row-footer{
    left: 5%;
    background-color: #333;
    display: block;
    width: 100%;
    padding: 3%;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position: absolute;
}
.col-footer .s1{
    width: 100%;
    text-align: center;
}
.e{
    text-align: left;
    
}
.col-footer{
    box-sizing: border-box;
    float: left;
    width: 33.3%;
}
@media screen and (max-width: 500px){
   footer.main-footer .row-footer{
       display: flex;
       width: 100%;
       overflow-block: clip;

    }
    footer.main-footer h4{
        font-size: 25px;
        align-items: center;
    }
    footer.main-footer p{
        font-size: 15px;
    }
    
    footer.main-footer div.col-footer.s1.e{
        float: inline-end;
        margin: 5px;
    }
    footer.main-footer div.col-footer.s1.e p a{
        font-size: 15px;
        width: fit-content;
        color: #ffffff;
    }
   footer.main-footer div.col-footer {
       float:inline-start;
       margin: 0;
       display: block;
       width: 70%;
       text-align: center;
    }
    footer.main-footer div.col-footer form{
        width: 100px;
    }
    footer.main-footer div.col-footer input[type=text]{
        width: 100px;
    }
}
/* Container-fluid - contains the header, and lower navbar */
.container-fluid{
    width: 75%;
    left:130px;
    padding-top: 10px;
    /* padding-bottom: 70%; */
    justify-content: center;
    align-items: center;
    align-self: center;
}
.col-md-4{
    text-align: center;
    width: 33%;
    padding: 25px;
}
/* .btn-group -  is the lower navbar */
.btn-group{
    padding: 0;
}
.btn-group button{
    color: #333;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    width: 33%;
    float:none;
    display: table-cell;
}
.btn-group-justified{
    width: 100%;
    display: inline-flex;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified .btn{
    width:75%; /* era 75% */
    margin-left: auto;
    margin-right: auto;
}
.btn-primary{
    background-color: #ccc;
    border-color: dimgray;
}
.btn-group .dropdown-menu{
    width: 100%;
    text-align: center;
}
/* image - image of the blockquote  */
.image {
    padding: 100px 0;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
  }
  /* Container of blockqoute */
.text{
  color: #f0e9e9;
  font-weight: bold;
  border: 3px solid #cccccc;
  left: 50%;
  bottom: 50%;
  transform: translate(15%, -200%);
  z-index: 0;
  width: 80%;
  padding: 20px;
  text-align: center;
  filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
  }
.blockqoute{
    background-color: #ffffff;
}
.blockquote-reverse p{
    text-decoration-style: double;
    text-transform: uppercase;
    font-style: italic;
    padding-top: 25px;
}
/* Changes styling last line of blockqoute */
p#footer{
    font-variant: all-petite-caps;
    font: small-caption;
    float: inline-end;
}
input[type=text]  {
    color: black;
    padding-top: 5px;
    border: 5px solid rgb(109, 109, 235);
    width: auto;
    
  }
input[type=text]#searchbar{
    width: auto;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
input[type=text]:focus#searchbar{
    width: 100%; /*width of searchbar grows when clicked/making a search*/
  }
.button{
    background-color:  rgb(231, 250, 57);
    border-radius: 15;
    padding-bottom: 20px;
}
.button:hover{
    background-color: rgba(231, 250, 57, 0.733);
}
footer{
    left: 0;
    background-color: #333;
    display: block;
    width: 100%;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position:sticky;
    bottom:0;
}
.blocks h3{
    padding: 50px;
    text-align: center;
}
.blocks p{
    padding: 20px;
}
/* Slideshow on about page */
#myCarousel{
    padding: 5% 0;
}
.carousel-control.right{
    right: 0;
    margin-right: 10%;
    background-repeat: repeat;
    background-image: none;
}
.carousel-control.left{
    left: 0;
    margin-left: 5%;
    background-repeat: repeat;
    background-image: none;
}
.carousel-inner .item{
    margin-left: 5%;
    max-width: 100%;
    height: auto;
}