html {
    overflow-y: scroll;
}

@-ms-viewport {
    overflow-wrap: break-word;
    width: device-width;
}

body {
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana;
    display: flex;
    flex-direction: column;
    position: static;
    justify-content: center;
}

header#main-header img {
    block-size: 150px;
    display: block;
    margin: 5vh;
}

header#main-header a {
    color: transparent;
}

header#main-header {
    width: 90%;
    height: 150px;
    display: flex;
    position: relative;
    align-self: center;
    text-align: center;
    min-inline-size: max-content;
    color: slategrey;
    text-transform: capitalize;
    box-sizing: border-box;
}

header#main-header h1 {
    margin-top: 5vh;
    padding-top: 45px;
    font-variant: all-small-caps;
    min-inline-size: max-content;
}


/* @media son jquery code para controlar el responsiveness 
    (como los componentes del web page cambian
    cuando se cambia el viewport/device width,
    ej. como se vera en un telefono, como se vera en un ipad o laptop) */

@media screen and (max-width: 500px) {
    #main-header {
        text-align: left;
        width: 350px;
    }
    header#main-header {
        justify-content: space-evenly;
    }
    header#main-header a {
        min-inline-size: fit-content;
    }
    header#main-header img {
        display: none;
    }
    header#main-header h1 {
        padding: 15px 0;
        width: 300px;
        align-self: flex-end;
        font-size: 45px;
        font-variant: all-small-caps;
    }
}

.wtop {
    width: 100%;
    box-sizing: content-box;
}

.wtop a {
    padding-left: 10px;
    color: #ccc;
}

.wtop a:hover {
    padding-left: 10px;
    text-decoration-line: none;
    color: #ccc;
}

.wtop .wbar a img {
    height: 30px;
}


/* Left-sided navbar link to home */

.wbar .w-button {
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 99;
}


/* Right-sided navbar with about, contact, pricing, etc. tabs */

.wbar .w-right {
    display: inline-block;
    right: 0px;
    height: 8vh;
    white-space: normal;
    padding: 15px 5px;
    width: 100%;
    z-index: 98;
    text-align: right;
    position: fixed;
    background-color: #333;
}

.sidenav .panel a {
    color: blue;
}


/* Hamburger for normal PC screens */


/* Animates the hamburger toggle button */

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    top: 10%;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(231, 250, 57);
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}


/* Functionality of the hamburger toggle menu */

input[type="checkbox"]:checked~.sidenav {
    transform: translateX(0);
    width: 15vw;
}

input[type=checkbox]{
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

input[type=checkbox]:checked~.sidebarIconToggle {
    transform: translateX(11vw);
}


/* when the screen of the device is smaller the sidenav will be opened and closed using a hamburger toggle button */

@media screen and (max-width: 700px) {
    .sidenav {
        top: 6vh;
        left: 0;
        user-select: none;
        width: 10vw;
        transform: translateX(-155px);
        transition: transform 250ms ease-in-out;
        /* background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); */
    }
    .sidenav a {
        padding: 6px 8px;
        border-bottom: #333 solid;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .panel {
        width: 83%;
        height: auto;
    }
    .sidenav button.accordion {
        color: #444;
        padding: 8px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    /* Animates the hamburger toggle button */
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 100;
        top: 10%;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: rgb(231, 250, 57);
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    /* Functionality of the hamburger toggle menu */
    input[type="checkbox"]:checked~.sidenav {
        transform: translateX(0);
        width: 100%;
    }
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    input[type=checkbox]:checked~.sidebarIconToggle {
        transform: translateX(330px);
    }
    input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }
}
/* Controls the size of social media feeds */
.feed_size{
    height: 400px;
    width: 400px;
}

/* The sidebar menu */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 95;
    top: 8vh;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transform: translateX(-100%);
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

  
  /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: red;
    }
  
  /* Changes font color */
  .sidenav .panel a {
      color: #111;
  }
  .sidenav .panel a:hover {
    color: rgb(109, 109, 235)
}
  /* On smaller screens (less than 450px) change the style of the sidebar */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.active, .accordion:hover {
    cursor: pointer;
}

.panel {
    padding: 0;
    height: auto;
    scroll-behavior: smooth;
    display: none;
}

.panel h2 {
    font: bold 26px monospace;
    font-variant: all-small-caps;
    text-align: center;
    border-bottom: 2px solid rgb(231, 250, 57);
}

.panel li {
    list-style-type: none;
    left: 5px;
    font: bold medium monospace;
    position: relative;
}

.panel li span {
    list-style-type: none;
    float: right;
    font: bold medium monospace;
    position: relative;
}

.panel ul#cart-items {
    margin: 2px;
    padding: 5%;
    border: 1px solid rgb(190, 190, 190);
    list-style: none;
}

.panel ul a {
    padding: 5%;
    margin: 3%;
    border: #cccccc;
    border-radius: 15px;
    background-color: rgb(231, 250, 57);
    font-size: smaller;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
}

.panel li#sub-total {
    border-bottom: 1px dotted black;
}

.panel li#shipping {
    border-bottom: 1px dotted black;
}

.panel li#cart-total {
    font-size: larger;
    font-weight: bold;
}

.panel li#cart-total span{
font-size: larger;
font-weight: bolder;

}


/* Footer contents
    row - container of footer columns 
    col-footer .s1 - foooter columns
    e  - last column  */

.row {
    padding: 5% 0;
}

.row-footer {
    left: 0;
    justify-content: space-evenly;
    background-color: #333;
    display: block;
    width: 100%;
    padding: 3%;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position: absolute;
}

.col-footer .s1 {
    width: 100%;
    text-align: justify;
}

.e {
    text-align: left;
}

.col-footer {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
}

@media screen and (max-width: 500px) {
    footer.main-footer .row-footer {
        left: 0;
        padding: 5%;
        display: flex;
        width: 160%;
        overflow-block: clip;
    }
    footer.main-footer h4 {
        font-size: 25px;
        align-items: center;
    }
    footer.main-footer p {
        font-size: 15px;
    }
    footer.main-footer div.col-footer.s1.e {
        float: inline-end;
        margin: 5px;
    }
    footer.main-footer div.col-footer.s1.e p a {
        font-size: 15px;
        width: fit-content;
        color: #ffffff;
    }
    footer.main-footer div.col-footer {
        float: inline-start;
        margin: 0;
        display: block;
        width: 70%;
        text-align: center;
    }
    footer.main-footer div.col-footer form {
        width: 100px;
    }
    footer.main-footer div.col-footer input[type=text] {
        width: 100px;
    }
}

/* Container-fluid - contains the header, and lower navbar */

.container-fluid {
    width: 75%;
    padding-top: 10px;
    /* padding-bottom: 70%; */
    justify-content: center;
    align-items: center;
    align-self: center;
}

.col-md-4 {
    text-align: center;
    width: 33%;
    padding: 25px;
}


/* image - image of the blockquote  */

.image {
    padding: 100px 0;
    height: 85vh;
    margin-left: 15vw;
    width: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


/* Container of blockqoute */

.text {
    color: #f0e9e9;
    font-weight: bold;
    border: 3px solid #cccccc;
    transform: translate(20vw, -50vh);
    z-index: 0;
    width: 60%;
    padding: 20px;
    text-align: center;
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
}

.blockqoute {
    background-color: #ffffff;
}

.blockquote-reverse p {
    text-decoration-style: double;
    text-transform: uppercase;
    font-style: italic;
    padding-top: 25px;
}


/* Changes styling last line of blockqoute */

p#footer {
    font-variant: all-petite-caps;
    font: small-caption;
    float: inline-end;
}

@media screen and (max-width: 400px) {
    .text {
        transform: translate(35%, -180%);
        width: auto;
    }
    .w-button {
        width: 100%;
        background-color: #333;
        padding: 2% 0;
        z-index: 99;
    }
    div.w-right {
        top: -60px;
    }
    .image {
        width: 160%;
        padding: 50px 0px;
    }
}

input[type=text] {
    color: black;
    padding-top: 5px;
    border: 5px solid rgb(109, 109, 235);
    width: auto;
}

input[type=text]#searchbar {
    width: auto;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

input[type=text]:focus#searchbar {
    width: 100%;
    /*width of searchbar grows when clicked/making a search*/
}

.button {
    background-color: rgb(231, 250, 57);
    border-radius: 15;
    padding-bottom: 20px;
}

.button:hover {
    background-color: rgba(231, 250, 57, 0.733);
}

footer.mainfooter {
    background-color: #333;
    display: block;
    width: 800px;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position: sticky;
    bottom: 0;
}


.blocks {
    margin: 5vw 0;
}

.blocks h3 {
    padding: 50px;
    text-align: center;
}

.blocks p {
    padding: 20px;
}

/* Slideshow on about page */

#myCarousel {
    padding: 5% 0;
}
.carousel-caption{
    position: absolute;
    align-self: center;
    right: 16%;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-control.right {
    right: 0;
    margin-right: 10vw;
    background-repeat: repeat;
    background-image: none;
}

.carousel-control.right.team{
    margin-right: 12vw;
}

.carousel-control.left.team{
    color: black;
}

.carousel-control.left {
    left: 0;
    margin-left: -3vw;
    background-repeat: repeat;
    background-image: none;
}

.carousel-inner .item {
    max-width: 100%;
    height: auto;
}
.sidenav.sponsor {
    justify-content: center;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 35vh;
    left: 0;
    width: 20%;
    overflow-wrap: normal;
    overflow-y: hidden;
    background-color: white;
    transform: translateX(0);
    background: none;
}
.sidenav.sponsor h2{
    font-size: medium;
}
.sidenav.sponsor img{
    padding-left: 25px;
    width: 55%;
    height: 65%;
}
.container-fluid.about{
    width: 85%;
    margin-left: 13vw;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
@media screen and (max-height: 400px){
    .sidenav.sponsor{
        display: flexbox;
        transform: translate(100vh);
        flex-direction: row;
        flex-shrink: 1;
    }
    .container-fluid.about{
        width: 75%;
        margin-left: 25vw;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    header#main-header a.wbar-item.w-button.w-wide{
        font-size: small;
    }

    header#main-header img {
        block-size: 75px;
        display: block;
        margin: 25px;
    }
    
    header#main-header a {
        color: transparent;
    }
    header#main-header {
        width: auto;
        height: 75px;
        display: flex;
        position: relative;
        align-self: center;
        text-align: center;
        min-inline-size: max-content;
        color: slategrey;
        text-transform: capitalize;
        box-sizing: border-box;
    }
    
}
/* Twitter feed conatiner */
.twitter-container{
   /* margin: 5vw 10vh; */
   width: 40vw;
   height: 65vh;
   overflow-y: scroll;
   /* float: left; */
}

/* Team page styling */
.fb-page{
    /* margin: 1vw 35vh; */
    /* width: 75vw;
    inline-size: 75vw;
    float: right; */
    display: inline-block;
}

.container.social-post{
    margin-bottom: 25vh;
    text-align: end;
    align-self: center;
    justify-content: space-between;
}

.grid-container {
    display: inline-table;
}

.grid-item{
    display: inline-block;
}