
html{
    overflow: scroll;
}
@-ms-viewport{
    width: device-width;
}
body{
    font-family:  "Montserrat", "Roboto", sans-serif;
    /*background: url("../Html/images/moon.jpg");*/
    display: flex;
    flex-direction: column;
    font-size: 18px;
    position:static;
    justify-content: center;
}
header#main-header img{
    padding: 10px;
    block-size: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-header{
    margin-top: 5%;
    width: 100%;
    display: flex;
    position: relative;
    align-self: center;
    text-align: center;
    color: slategrey;
    text-transform: capitalize;
    box-sizing: border-box;
}
header#main-header h1{
    padding: 5% 1%
}
/* @media son jquery code para controlar el responsiveness 
    (como los componentes del web page cambian
    cuando se cambia el viewport/device width,
    ej. como se vera en un telefono, como se vera en un ipad o laptop) */

@media screen and (max-width: 500px) {
    #main-header {
      text-align: left;
      width: 350px;
    }
    header#main-header img{
        display: block;
        margin-top: 15px;
        inline-size: 65px;
        block-size: 65px;
    }
    header#main-header h1{
        padding: 15px 0;
        width: 100px;
        font-size:inherit;
    }
    
}
.wtop{
    width: 100%;
    box-sizing: content-box;
}


.wbar .w-button {
    position: fixed;
    left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
}


.wbar .w-right{
    display: inline-block;
    right: 0px;
    white-space: normal;
    padding: 15px 5px;
    width: 100%;
    z-index: 1;
    text-align: right;
    position: fixed;
    background-color: #fff;
}
@media screen and (max-width: 300px) {

    .wbar a.w-wide{
        background-color: #ffffff;
        float: right;
        display: flex;
        z-index: 2;
    }
    
}
.row{
    margin: 0 10%;
    padding: 5% 0;
}
.row-footer{
    left: 0;
    background-color: #333;
    display: block;
    width: 100%;
    padding: 3%;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position: absolute;
}
.col-footer .s1{
    width: 100%;
    text-align: center;
}
.e{
    text-align: left;
    
}
.col-footer{
    box-sizing: border-box;
    float: left;
    width: 33.3%;
}
@media screen and (max-width: 500px){
   footer.main-footer .row-footer{
       display: flex;
       width: 100%;
       overflow-block: clip;

    }
    footer.main-footer h4{
        font-size: 25px;
        align-items: center;
    }
    footer.main-footer p{
        font-size: 15px;
    }
    
    footer.main-footer div.col-footer.s1.e{
        float: inline-end;
        margin: 5px;
    }
    footer.main-footer div.col-footer.s1.e p a{
        font-size: 15px;
        width: fit-content;
        color: #ffffff;
    }
   footer.main-footer div.col-footer {
       float:inline-start;
       margin: 0;
       display: block;
       width: 70%;
       text-align: center;
    }
    footer.main-footer div.col-footer form{
        width: 100px;
    }
    footer.main-footer div.col-footer input[type=text]{
        width: 100px;
    }
}

.container-fluid{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 70%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.col-md-4{
    text-align: center;
    width: 33%;
    padding: 25px;
}
.btn-group{
    padding: 0;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    width: 33%;
    float:none;
    display: table-cell;
}
.btn-group-justified{
    width: 100%;
    display: inline-flex;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified .btn{
    width:75%; /* era 75% */
    margin-left: auto;
    margin-right: auto;
}
.btn-primary{
    background-color: darkslategrey;
    border-color: dimgray;
}
.btn-group .dropdown-menu{
    width: 100%;
    text-align: center;
}
.blockqoute{
    background-color: #ffffff;
}
.blockquote-reverse p{
    text-decoration-style: double;
    text-transform: uppercase;
    font-style: italic;
    padding-top: 25px;
}
input[type=text]  {
    color: black;
    padding-top: 5px;
    border: 5px solid rgb(109, 109, 235);
    width: auto;
    
  }
input[type=text]#searchbar{
    width: auto;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
input[type=text]:focus#searchbar{
    width: 100%; /*width of searchbar grows when clicked/making a search*/
  }
.button{
    background-color:  rgb(231, 250, 57);
    border-radius: 15;
    padding-bottom: 20px;
}
.button:hover{
    background-color: rgba(231, 250, 57, 0.733);
}
footer{
    left: 0;
    background-color: #333;
    display: block;
    width: 100%;
    margin-top: auto;
    text-align: center;
    color: #fff;
    position:sticky;
    bottom:0;
}
#block-container{
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin-left: 15%;
}
.blocks{
    float: left;
    margin-left: auto; 
    margin-right: auto;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box; /*make box size equal to border of content so the 3 cols fit in a single row */
}
@media screen and (max-width: 700px) {
    .blocks{
        justify-content: left;
        width: 100%;
    }
    .blocks p{
        font-size: 10px;
        overflow-wrap: break-word;
        text-align: left;
    }
}
.blocks h3{
    text-align: center;
    color: black;
}
#myCarousel{
    padding: 5% 0;
}
.carousel-control.right{
    right: 0;
    margin-right: 10%;
    background-repeat: repeat;
    background-image: none;
}
.carousel-control.left{
    left: 0;
    margin-left: 5%;
    background-repeat: repeat;
    background-image: none;
}
.carousel-inner .item{
    margin-left: 5%;
    max-width: 100%;
    height: auto;
}